= form_for(:session, :url => sessions_path) do |f|
  .input
    = f.label :email
    = f.text_field :email
  .input
    = f.label :password
    = f.password_field :password
  .action
    = f.submit "Login"   
%p 
  New user? 
  = link_to "Register today!", :register
