#mainbar
	= image_tag('title.png', :class => 'title', :alt => 'Expand')
	.user_links
		= form_for(@user, :url => :user_session) do |f|
			.signin_popover
				.signin_row
					.signin_label= f.label :email
					.signin_field= f.email_field :email
				.signin_row
					.signin_label= f.label :password
					.signin_field= f.password_field :password
				= link_to "Forgot your password?", :new_user_password
			= f.submit 'Sign in', :class => 'signin_button', :type => :image, :src => 'assets/signin_button.png'
		%nav
			%ul
				%li= link_to 'Play Now', '/portal' 
				%li= link_to 'Register', :new_user_registration, { :class => 'registration_link' }