#game_invites
#new_game_form
	= form_for @game, :remote => true do |game_f|
		= game_f.fields_for :players, @game.players do |players_f|
			%table
				%tr{ :class => 'table_title' }
					%td{ :align => 'left', :colspan => '2' }
						Online Users
				- @online_users.each_with_index do |user, index|
					%tr
						%td{ :class => "user_row", :user_id => "#{user.id}" }
							= players_f.label :user_id, user.email
							= check_box_tag("game[players_attributes][#{user.id}][user_id]", user.id, false, :class => :player_checkbox)
			= players_f.hidden_field :user_id, :value => current_user.id
			= game_f.submit 'Send Invites'