#online_users
  = form_for(@game) do |f|
    = f.fields_for :players do |pl_f|
      - @online_users.each do |user|
        = check_box_tag "game[players[][user_id]]", user.id
        = label_tag "game[players[][user_id]]", user.name
    .action
      = f.submit 'Start Game'
