#game{ :game_id => @game.id, :player_index => @player_index }
	.wrapper
		= render 'games/partials/popup'
		= render 'games/partials/rightnav'
		= render 'games/partials/status'
		= render 'games/partials/board'
		= render 'games/partials/message'