#game{ :game_id => @game.id, :player_index => @player_index }
	.debug_string= @game.current_turn.board
	.wrapper
		= render 'games/partials/players'
		= render 'games/partials/companies'
		= render 'games/partials/board'
		= render 'games/partials/message'
