// Board HAML
.board_content
  = @game.cur_turn.board
.cur_turn
  Current Turn:
  = @game.cur_turn.number + 1
.board_body
  - i = "A"
  - l = 0
  .row
    .cell
    - @board[0].each do |col|
      .cell
        = l = l.succ
  - @board.each_with_index do |row, rowIX|
    .row 
      .cell
        = i
        - i = i.succ
      - row.each_with_index do |cell, colIX|
        = render :partial => "games/partials/cell", :locals => {:cell => cell, :rowIX => rowIX, :colIX => colIX}