.companies
	- @cur_turn.data_hash["companies"].each do |key, value|
		.company_data{:company_abbr=>"#{key}", :style=>"color: #{value['color'];}"}
			.company_data_name{:company_abbr=>"#{key}"}
				= value["name"]
			.company_data_stock_count{:company_abbr=>"#{key}"}
				= value["stock_count"]
			.company_data_size{:company_abbr=>"#{key}"}
				= value["size"]
			.company_data_value{:company_abbr=>"#{key}"}