.main
	= image_tag('title_medium.png', :class => 'title_image', :alt => 'Expand')
	= render 'games/partials/popup'
	= render 'games/partials/rightnav'
	= render 'games/partials/leftnav'
	.turn_label
	= render 'games/partials/players'
	= render 'games/partials/board'