#start_company_popup
	.title{:style=>"padding-bottom:10px;"}
		Start a New Company
	- @cur_turn.data_hash["companies"].each do |key, value|
		.company{:style=>"padding-top:5px;"}
			%input{ :type=>"radio", :value=>"#{value['abbr']}", :name=>"company_group" }
			%label
				= value["name"]
			.color{ :style=>"background-color:#{value['color']}; width:20px; height:13px; float:right;"}
	= button_to_function 'go', 'start_company_click_handler()', :id => 'start_company_button', :class => 'image_button'
#purchase_stock_popup
	.title{:style=>"padding-bottom:10px;"}
		Purchase Stock
		- [1,2,3].each do |i|
			.purchase_stock
				%input{ :type=>"radio", :value=>"1", :name=>"stock_purchase_group" }
				%label
					= "+" + i.to_s()