.status
	.player_companies
		- @cur_turn.data_hash["companies"].each do |key, value|
			%br
			.player_stock_in_company{:abbr=>"#{key}", :style=>"color: #{value['color']};"}
				.player_stock_in_company_lbl{:company_abbr=>"#{key}", :style=>"float: left; width:190px; height:25px;"}
					= value["name"]
				.player_stock_in_company{:company_abbr=>"#{key}", :style=>"float: left;"}
					0
				.company_stock_purchased{:company_abbr=>"#{key}", :style=>"float: left;"}
					= button_to_function '-', 'sub_stock_for(\'' + key + '\')', :style=>"float:left;"
					= button_to_function '+', 'add_stock_for(\'' + key + '\')', :style=>"float:left;"
	.money
	= button_to_function 'input', 'input_handler()', :id => 'turn_button', :class => 'image_button'