%header
  %nav
    %ul
      - if signed_in?
        %li
          Welcome,  
          - current_user
          = link_to "#{current_user.name}", user_path(current_user.id) 
        %li= link_to "Logout", :logout
      - else  
        %li= link_to "Sign in", :login, { :class => "popup_link" }
      %li= link_to "Home", '/'
      %li= link_to "Help", '#'  