!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
	%head
		%title= @title
		= render 'layouts/stylesheets'
		= javascript_include_tag 'application', "#{controller_name}/#{controller_name}", "#{controller_name}/#{action_name}"
		= csrf_meta_tags
%body
	= render 'layouts/notices'
	= render 'layouts/header'
	= yield
